/* nav component */

.navbar-component {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 23px 1px rgb(135, 134, 134);
}


.navbar-component .container ul {
  display: flex;
}
.navbar-component .container li {
  list-style-type: none;
  margin: 0 20px;
}
