body {
  background-color: rgba(212, 207, 207, 0.623);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
}
